Adafruit-Blinka==5.2.0
adafruit-circuitpython-dht==3.4.1
Adafruit-DHT==1.4.0
Adafruit-PlatformDetect==2.14.1
Adafruit-PureIO==1.1.5
astroid==2.4.2
click==7.1.2
Flask==1.1.2
isort==5.5.3
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
pyftdi==0.52.0
pylint==2.6.0
PyMySQL==0.10.1
pyserial==3.5
pyusb==1.1.0
rpi-ws281x==4.2.5
RPi.GPIO==0.7.0
six==1.15.0
sysv-ipc==1.0.1
toml==0.10.1
typed-ast==1.4.2
Werkzeug==1.0.1
wrapt==1.12.1
